body{
  background-color: #dbdde0 !important;
}

.padding{
  height : 53%;
}
.ass_info{
  margin-top: 50px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

header{
  position: fixed !important;
    background: #14171c !important;
    top: 0 !important;
}
.card-body{
  background-color: #ffffff;
  border: 0.1px solid;
  border-radius : 5px;
}
.cancelbtn, .signupbtn{
	float: center;
	width: 50%;
}
.score{
  text-align: center;
}
h5{
  margin :1rem !important;
}
.add {
  background: #24b3ab;
  height : 80px;
  color: white;
  margin-top : 0;
  padding: 20px;
  margin-bottom : 20px;
}

.button-class {
  background-color: #4CAF50 ; /* Green */
  border: none;
  width : 80%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

@media only screen and (min-width: 770px){
  nav{
    float: right;
  }

}