
@import url("fonts.css");
@import url("ionicons/css/ionicons.min.css");
@import url("micons/micons.css");



body {
	background: #14181E;
	font-family: "meriweather-regular",serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #737373;
}


	#main-nav-wrap, .main-navigation {
	margin: 0;
	padding: 0;
}

/*hide the bars*/

a.menu-toggle {
	display: none;
}


/*main-nav-wrap*/

#main-nav-wrap {
	font-family: "raleway-heavy", sans-serif;
	font-size: 11.5px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	position: absolute;
	top: 0;
	right: 30px;
}
.main-navigation {
	min-height: 66px;
	display: inline-block;
	width: 100%;
	text-align: right;
	color: #FFFFFF;
}
.main-navigation li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 66px;
}
.main-navigation li.current a {
	color: #FFFFFF;
}
.main-navigation li.current a::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #05bca9;
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation li.highlight a {
	color: #05bca9;
}
.main-navigation li.with-sep a {
	position: relative;
	padding-left: 22px;
	margin-left: 8px;
}
.main-navigation li.with-sep a::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*navigationn links*/

.main-navigation li a {
	display: block;
	padding: 18px 7px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	color: #98999a;
	position: relative;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.main-navigation li a:active {
	background-color: transparent !important;
}
.main-navigation li a:hover {
	color: #FFFFFF;
}


@media only screen and (max-width:768px) {
	#main-nav-wrap {
		display: block;
		width: 100%;
		position: absolute;
		top: 69px;
		right: 0;
	}
	a.menu-toggle {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -20px;
	}
	a.menu-toggle span {
		display: block;
		width: 24px;
		height: 3px;
		margin-top: -1.5px;
		position: absolute;
		right: 8px;
		top: 50%;
		bottom: auto;
		left: auto;
		background-color: white;
		-moz-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		-webkit-transition: background 0.2s ease-in-out;
		-ms-transition: background 0.2s ease-in-out;
		transition: background 0.2s ease-in-out;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}
	a.menu-toggle span::before, a.menu-toggle span::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
		-moz-transition-duration: 0.2s, 0.2s;
		-o-transition-duration: 0.2s, 0.2s;
		-webkit-transition-duration: 0.2s, 0.2s;
		-ms-transition-duration: 0.2s, 0.2s;
		transition-duration: 0.2s, 0.2s;
		-moz-transition-delay: 0.2s, 0s;
		-o-transition-delay: 0.2s, 0s;
		-webkit-transition-delay: 0.2s, 0s;
		-ms-transition-delay: 0.2s, 0s;
		transition-delay: 0.2s, 0s;
	}
	a.menu-toggle span::before {
		top: -8px;
		-moz-transition-property: top, transform;
		-o-transition-property: top, transform;
		-webkit-transition-property: top, transform;
		-ms-transition-property: top, transform;
		transition-property: top, transform;
	}
	a.menu-toggle span::after {
		bottom: -8px;
		-moz-transition-property: bottom, transform;
		-o-transition-property: bottom, transform;
		-webkit-transition-property: bottom, transform;
		-ms-transition-property: bottom, transform;
		transition-property: bottom, transform;
	}
	.menu-toggle.is-clicked span {
		background-color: rgba(255, 255, 255, 0);
	}
	.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
		background-color: white;
		-moz-transition-delay: 0s, 0.2s;
		-o-transition-delay: 0s, 0.2s;
		-webkit-transition-delay: 0s, 0.2s;
		-ms-transition-delay: 0s, 0.2s;
		transition-delay: 0s, 0.2s;
	}
	.menu-toggle.is-clicked span::before {
		top: 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.menu-toggle.is-clicked span::after {
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.main-navigation {
		background: #14171c;
		padding: 48px 42px 54px 42px;
		margin: 0;
		width: 100%;
		height: auto;
		clear: both;
		display: none;
	}
	.main-navigation > li {
		display: block;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted rgba(200, 200, 200, 0.08);
		padding: 0;
	}
	.main-navigation > li:first-child {
		border-top: 1px dotted rgba(200, 200, 200, 0.08);
	}
	.main-navigation li a {
		display: block;
		color: #e6e6e6;
		width: auto;
		padding: 18px 0;
		line-height: 16px;
		border: none;
	}
	.main-navigation li a:hover {
		color: #ff7b29;
	}
	.main-navigation li.with-sep a {
		padding-left: 0;
		margin-left: 0;
	}
	.main-navigation li.with-sep a::before {
		display: none;
	}
	.main-navigation li.current > a {
		background: none;
		color: #ff7b29;
	}
	.main-navigation li.current > a:after {
		display: none;
	}
}

/*for enabling the menu in the bigger screen*/

@media only screen and (min-width:769px) {
	#main-nav-wrap ul.main-navigation {
		display: block !important;
	}
}

#intro {
	background: #14181E no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
}
.shadow-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.25) 25%, transparent 56%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73000000', endColorstr='#00000000', GradientType=0);  /* IE6-9 */
}
.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-1.2rem);
	-ms-transform: translateY(-1.2rem);
	transform: translateY(-1.2rem);
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: "merriweather-bold", serif;
	font-size: 5.4rem;
	line-height: 1.334;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.intro-content h5 {
	color: rgba(255, 255, 255, 0.6);
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.8rem;
	line-height: 1.667;
	margin-bottom: 0.6rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.intro-content .video-link a {
	display: inline-block;
	width: 90px;
	height: 90px;
	margin-bottom: 4.2rem;
	outline: none;
}
.intro-content .button {
	border-color: #FFFFFF;
	color: #FFFFFF;
	height: 6.6rem;
	line-height: 6rem;
	padding: 0 3rem !important;
	margin-top: 1.8rem;
	font-family: "raleway-heavy", sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .4rem;
}
.intro-content .button:hover, .intro-content .button:focus {
	color: #05bca9;
	border-color: #05bca9;
}

/*responsive intro*/

@media only screen and (max-width:1024px) {
	.intro-content {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.intro-content h1 {
		font-size: 4.8rem;
		max-width: 700px;
	}
	.intro-content h5 {
		font-size: 1.6rem;
	}
	.intro-content .video-link a {
		width: 72px;
		height: 72px;
		margin-bottom: 3rem;
	}
}
@media only screen and (max-width:768px) {
	#intro {
		min-height: 660px;
	}
	.intro-content h1 {
		font-size: 4.2rem;
		max-width: 550px;
	}
	.intro-content h5 {
		font-size: 1.5rem;
		letter-spacing: .15rem;
	}
}
@media only screen and (max-width:600px) {
	#intro {
		min-height: 600px;
	}
	.intro-content h1 {
		font-size: 3.8rem;
		margin-bottom: .9rem;
	}
	.intro-content h5 {
		font-size: 1.4rem;
		letter-spacing: .15rem;
	}
	.intro-content .video-link a {
		width: 66px;
		height: 66px;
		margin-bottom: 1.5rem;
	}
}
@media only screen and (max-width:400px) {
	#intro {
		min-height: 550px;
	}
	.intro-content h1 {
		font-size: 3.4rem;
	}
	.intro-content h5 {
		font-size: 1.4rem;
		letter-spacing: .15rem;
	}
	.intro-content .video-link a {
		width: 60px;
		height: 60px;
	}
}