#notif-box{
  /*position is fixed so that the notif box appears anywhere in the window*/
  position:fixed;
  width:200px;
  height: 90px;
  top:70px;
  left:-400px;
  opacity: 0;
  transition:opacity ease-in-out 1000ms, left ease-in-out 1000ms;
  background-color: green;
  color:white;
  border-radius: 4px;
  font-family: Arial;
  z-index: 1000;
}
#notif-close{
  cursor: pointer;
  float:right;
  margin-right: 5px;
  margin-top: 2px;
}
#notif-box-content{
  margin:2px;
} 
