body{
  background-color: #dbdde0 !important;
}

.projectinfo{
  position: relative;
  margin-top: 100px;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

header{
  position: fixed !important;
    background: #14171c !important;
    top: 0 !important;
}

.table-header {
    width: 100%;
    padding: .75rem 1.25rem;
    margin: 0;
    background-color: #24b3ab;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

input[type = text], input[type = password], textarea{
  width: 100%;
  padding: 15px;
  display: inline-block;
  border:none;
  background: #ccc;
}

.title{
  width:25%;
}

.add {
    background: #24b3ab;
    color: white;
    padding: 20px;
    line-height: 20px;
}

/*Add a background colour whwn the inputs get focussed */
textarea:focus,
input[type=text]:focus,
input[type=password]:focus{
  background-color: #9b9da0;
  outline: none;
}


* {
  box-sizing: border-box;
}

.menu {
  float: left;
  text-align: center;
  width:100%;
  max-height : 20%;

}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media only screen and (min-width: 770px){
  nav{
    float: right;
  }
}

/*****collapsible list*******/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}